*{
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    justify-content: center;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 30px;
    color: black;
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width:600px) {
    h1{
        color: white;
        background-color: black;
    }
}