a{
    color: blue;
background-color: lightcoral;
text-decoration:wavy;
border: 1px solid black;
border-radius: 20%;
}
a{
    color: blue;
background-color: lightcoral;
text-decoration:wavy;
border: 1px solid black;
border-radius: 20%;
}