/* .container{
    width: 3050px;

    margin:auto ;
}

img{
    width: 1000px;

} */

a {
  text-decoration: none;
      color: green;
}
li {
  display: inline;
  justify-content: center;
}

ul {

 display: ;
}

/* 
img{
    display: block;
    margin: auto;
} */
